<!DOCTYPE html>
<html lang="en">

 <head>
     <meta charset="UTF-8">
     <title> Student Details </title>
 </head>
 <body>

     <h1> Student Details:</h1>
     <ol>

         <h3><li>First Name : {{student.firstName}}</li></h3>
         <h3><li>Last Name : {{student.lastName}}</li></h3>
         <h3><li>Test Score : {{student.testScore}}</li></h3>
         <h3><li><a href="/update/{{student.id}}">update</a></li></h3>
         <h3><li><a href="/delete/{{student.id}}">delete</a></li></h3>
     </ol>
 </body>
</html>